# Demo scene — one red sphere on a sky background.
# Run: ./raytracer scenes/demo_sphere.cfg > output.ppm

camera:
{
    resolution = { width = 1920; height = 1080; };
    position   = { x = 0; y = -0.25; z = -0.5; };
    rotation   = { x = 0; y = 0; z = 0; };
    //position   = { x = -1; y = -0.25; z = -0.25 }; // good position/rotation for triangles 
    //rotation   = { x = 0; y = -50; z = 0; };
    fieldOfView = 60.0;
};

primitives:
{
    spheres = (
        { x = 0.10;    y = -0.35;  z = -1.6; r = 0.15;  color = { r = 255; g = 165; b = 0; }; specular = 0.8; shininess = 4;}, //PAF DORé (boule 1)
        { x = -0.10; y = -0.35; z = -1.6; r = 0.15; color = { r = 255; g = 165; b = 0; }; specular = 0.8; shininess = 4;}, //PAF DORé (boule 2)
        { x = -0.60;    y = -0.35;  z = -1.6; r = 0.15;  color = { r = 255; g = 165; b = 0; }; specular = 0.8; shininess = 4;}, //PAF DORé (boule 3)
        { x = -0.40; y = -0.35; z = -1.6; r = 0.15; color = { r = 255; g = 165; b = 0; }; specular = 0.8; shininess = 4;}, //PAF DORé (boule 4)
        { x = 0.40;    y = -0.35;  z = -1.6; r = 0.15;  color = { r = 255; g = 165; b = 0; }; specular = 0.8; shininess = 4;}, //PAF DORé (boule 5)
        { x = 0.60; y = -0.35; z = -1.6; r = 0.15; color = { r = 255; g = 165; b = 0; }; specular = 0.8; shininess = 4;} //PAF DORé (boule 6)
    );
    planes = (
        //{ x = 0; y = -0.5; z = 0; nx = 0; ny = 1; nz = 0; color = { r = 64; g = 64; b = 255; }; },
        { x = 0; y = -0.5; z = 0; nx = 0; ny = 1; nz = 0; color = { r = 135; g = 206; b = 235; }; specular = 0.8; shininess = 64; }
    );
    cylinders = (
        { x = 0; y = -0.25; z = -1.8; ax = 0; ay = 1; az = 0; r = 0.1; h = 1; color = { r = 255; g = 165; b = 0; }; specular = 0.8; shininess = 4;}, //PAF DORé (tige)
        { x = -0.50; y = -0.25; z = -1.8; ax = 0; ay = 1; az = 0; r = 0.1; h = 1; color = { r = 255; g = 165; b = 0; }; specular = 0.8; shininess = 4;}, //PAF DORé (tige 2)
        { x = 0.50; y = -0.25; z = -1.8; ax = 0; ay = 1; az = 0; r = 0.1; h = 1; color = { r = 255; g = 165; b = 0; }; specular = 0.8; shininess = 4;} //PAF DORé (tige 3)
    );
//    triangles = (
//  { v0 = { x =  0.0; y =  0.2; z = -1.0; };
//    v1 = { x = -0.4; y = -0.5; z = -0.7; };
//    v2 = { x =  0.4; y = -0.5; z = -0.7; };
//    color = { r = 255; g = 100; b = 50; }; specular = 0.8; shininess = 4; },
//
//  { v0 = { x =  0.0; y =  0.2; z = -1.0; };
//    v1 = { x =  0.4; y = -0.5; z = -0.7; };
//    v2 = { x =  0.0; y = -0.5; z = -1.4; };
//    color = { r = 200; g = 80;  b = 40; }; specular = 0.8; shininess = 4; },
//
//  { v0 = { x =  0.0; y =  0.2; z = -1.0; };
//    v1 = { x =  0.0; y = -0.5; z = -1.4; };
//    v2 = { x = -0.4; y = -0.5; z = -0.7; };
//    color = { r = 150; g = 60;  b = 30; }; specular = 0.8; shininess = 4; },
//
//  { v0 = { x = -0.4; y = -0.5; z = -0.7; };
//    v1 = { x =  0.0; y = -0.5; z = -1.4; };
//    v2 = { x =  0.4; y = -0.5; z = -0.7; };
//    color = { r = 100; g = 40;  b = 20; }; specular = 0.8; shininess = 4; }
//);
};

lights:
{
    ambient = 0.45;
    diffuse = 0.85;
    directional = (
        { x = -2.0; y = 2.0; z = 0.5; }
    );
};
